

       /* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

       body{
           background-color: #008000;
           text-align: center;
           color: bisque;
       }
       h1,h2,h3,h4,h5,h6{
           color: lightgreen;
           text-align: center;
      }

       a{
           padding: 25px;
           color: lightgreen;
           text-decoration: none;
           font-size: large;
       }
       input[type=text]{
           width: 50%;
           border-radius: 10px;
           text-align: right;
           background: lightgreen;
           font-weight: bold;
           font-size: 20px;
       }
       input[type=number]{
        width: 50%;
           border-radius: 10px;
           text-align: right;
           background: lightgreen;
           font-weight: bold;
           font-size: 20px;
       }
       input[type=tel]{
        width: 50%;
           border-radius: 10px;
           text-align: right;
           background: lightgreen;
           font-weight: bold;
           font-size: 20px;
       }
       input[type=button]{
           background: yellowgreen;
           font-weight: bold;
           border-radius: 10px;
           font-size: 25px;
           border: 2px solid green;
       }
       input:hover{
           color: aqua;
           background: #008000;
           border-radius: 15px;
           font-size: 35px;
       }
       button{
        color: aqua;
           background: #008000;
           border-radius: 15px;
           font-size: 35px;
           border-color: gray;
       }
       button:hover{
           color: lawngreen;
           background-color: #008000;
           font-size: 15px;
           
       }
       header{
           padding: 35px;
           font-size: larger;
      }
